.toolbar {
  position: fixed;
  left: 50%;
  bottom: 5px;
  margin-left: -26px;
}

.toolbar-item,
.toolbar-layer {
  background: url(../img/toolbar.png) no-repeat;
}

.toolbar-item {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  margin-top: 1px;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  -ms-transition: background-position 1s;
  -o-transition: background-position 1s;
  transition: background-position 1s;
}
.toolbar-item:hover .toolbar-layer {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.toolbar-item-weixin {
  background-position: 0 -798px;
}
.toolbar-item-weixin:hover {
  background-position: 0 -860px;
}
.toolbar-item-weixin .toolbar-layer {
  height: 212px;
  background-position: 0 0;
}

.toolbar-item-feedback {
  background-position: 0 -426px;
}
.toolbar-item-feedback:hover {
  background-position: 0 -488px;
}

.toolbar-item-app {
  background-position: 0 -550px;
}
.toolbar-item-app:hover {
  background-position: 0 -612px;
}
.toolbar-item-app .toolbar-layer {
  height: 194px;
  background-position: 0 -222px;
}

.toolbar-item-top {
  background-position: 0 -674px;
}
.toolbar-item-top:hover {
  background-position: 0 -736px;
}

.toolbar-layer {
  position: absolute;
  right: 46px;
  bottom: -10px;
  width: 172px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
