

$toolbar-size: 52px;
.toolbar {
    position: fixed;
    left: 50%;
    bottom: 5px;
    margin-left: -$toolbar-size / 2;
}
.toolbar-item {
    position: relative;
    display: block;
    width: $toolbar-size;
    height: $toolbar-size;
    margin-top: 1px;

    &:hover {
        .toolbar-btn {
            &:before {
                top: -$toolbar-size;
            }
            &:after {
                top: 0;
            }
        }

        &:after {
            @include opacity(1);
            @include transform-scale(1);
        }
    }

    &:after {
        content: "";
        position: absolute;
        right: $toolbar-size - 6;
        bottom: -10px;
        width: 172px;
        background: url(../img/toolbar_img.png) no-repeat;
        @include opacity(0);
        @include transform-origin(95% 95%);
        @include transform-scale(0.01);
        @include transition(all 1s);
    }
}
.toolbar-item-weixin {
    &:after {
        content: "";
        height: 212px;
        background-position: 0 0;
    }

    .toolbar-btn {
        @extend .icon-weixin;
        &:before {
            content: "\e901";
        }
        &:after {
            content: "公众\A账号";
        }
    }
}
.toolbar-item-feedback {
    .toolbar-btn {
        @extend .icon-chat;
        &:after {
            content: "意见\A反馈";
        }
    }
}
.toolbar-item-app {
    &:after {
        content: "";
        height: 194px;
        background-position: 0 -222px;
    }

    .toolbar-btn {
        @extend .icon-mobile;
        &:after {
            content: "App\A下载";
        }
    }
}
.toolbar-item-top {
    .toolbar-btn {
        @extend .icon-arrow-up;
        &:after {
            content: "返回\A顶部";
        }
    }
}
.toolbar-btn {
    &, &:before, &:after {
        width: $toolbar-size;
        height: $toolbar-size;
        position: absolute;
        left: 0;
    }

    &:before, &:after {
        content: "";
        color: #fff;
        text-align: center;
        @include transition(top 1s);
    }

    top: 0;
    overflow: hidden;

   @extend [class^="icon-"];

    &:before { //icon
        top: 0;
        background-color: #d0d6d9;
        font-size: 30px;
        line-height: $toolbar-size;
    }

    &:after { //text
        top: $toolbar-size;
        background-color: #98a1a6;
        font-size: 12px;
        line-height: 1.2;
        padding-top: 12px;
        white-space:pre;
    }
}