@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?p1nuay");
  src: url("fonts/icomoon.eot?p1nuay#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?p1nuay") format("truetype"), url("fonts/icomoon.woff?p1nuay") format("woff"), url("fonts/icomoon.svg?p1nuay#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], .toolbar-btn, [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before, .toolbar-item-top .toolbar-btn:before {
  content: "\e902";
}

.icon-mobile:before, .toolbar-item-app .toolbar-btn:before {
  content: "\e958";
}

.icon-chat:before, .toolbar-item-feedback .toolbar-btn:before {
  content: "\e900";
}

.icon-wechat:before {
  content: "\e901";
}

.icon-weixin:before, .toolbar-item-weixin .toolbar-btn:before {
  content: "\e901";
}

.toolbar {
  position: fixed;
  left: 50%;
  bottom: 5px;
  margin-left: -26px;
}

.toolbar-item {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  margin-top: 1px;
}
.toolbar-item:hover .toolbar-btn:before {
  top: -52px;
}
.toolbar-item:hover .toolbar-btn:after {
  top: 0;
}
.toolbar-item:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.toolbar-item:after {
  content: "";
  position: absolute;
  right: 46px;
  bottom: -10px;
  width: 172px;
  background: url(../img/toolbar_img.png) no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.toolbar-item-weixin:after {
  content: "";
  height: 212px;
  background-position: 0 0;
}
.toolbar-item-weixin .toolbar-btn:before {
  content: "\e901";
}
.toolbar-item-weixin .toolbar-btn:after {
  content: "公众\A账号";
}

.toolbar-item-feedback .toolbar-btn:after {
  content: "意见\A反馈";
}

.toolbar-item-app:after {
  content: "";
  height: 194px;
  background-position: 0 -222px;
}
.toolbar-item-app .toolbar-btn:after {
  content: "App\A下载";
}

.toolbar-item-top .toolbar-btn:after {
  content: "返回\A顶部";
}

.toolbar-btn {
  top: 0;
  overflow: hidden;
}
.toolbar-btn, .toolbar-btn:before, .toolbar-btn:after {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 0;
}
.toolbar-btn:before, .toolbar-btn:after {
  content: "";
  color: #fff;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.toolbar-btn:before {
  top: 0;
  background-color: #d0d6d9;
  font-size: 30px;
  line-height: 52px;
}
.toolbar-btn:after {
  top: 52px;
  background-color: #98a1a6;
  font-size: 12px;
  line-height: 1.2;
  padding-top: 12px;
  white-space: pre;
}
